<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Sports_Test</display-name>
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
   </welcome-file-list>
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>com.sports.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>IllegalCharacterFilter</filter-name>
    <filter-class>com.sports.filter.StringFilter</filter-class>
    <init-param>
      <param-name>characterParams</param-name>
      <param-value>',>,&quot;</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>IllegalCharacterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>stuLogin</filter-name>
    <filter-class>com.sports.filter.StuLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>stuLogin</filter-name>
    <url-pattern>/Student/*</url-pattern>
  </filter-mapping>
  <filter>
  <filter-name>teaLogin</filter-name>
  <filter-class>com.sports.filter.TeaLoginFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>teaLogin</filter-name>
  <url-pattern>/Teacher/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>manager</filter-name>
    <filter-class>com.sports.filter.ManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>manager</filter-name>
    <url-pattern>/BackStage/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.sports.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MdepartmentServlet</servlet-name>
    <servlet-class>com.sports.servlet.MdepartmentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MtestTermServlet</servlet-name>
    <servlet-class>com.sports.servlet.MtestTermServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MtestClassServlet</servlet-name>
    <servlet-class>com.sports.servlet.MtestClassServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MnoticeServlet</servlet-name>
    <servlet-class>com.sports.servlet.MnoticeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Captcha</servlet-name>
    <servlet-class>com.sports.servlet.Captcha</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MteacherServlet</servlet-name>
    <servlet-class>com.sports.servlet.MteacherServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MstudentServlet</servlet-name>
    <servlet-class>com.sports.servlet.MstudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MmajorClassServlet</servlet-name>
    <servlet-class>com.sports.servlet.MmajorClassServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PwdChangeServlet</servlet-name>
    <servlet-class>com.sports.servlet.PwdChangeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StuEnterTestClassServlet</servlet-name>
    <servlet-class>com.sports.servlet.StuEnterTestClassServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StuLookScoreServlet</servlet-name>
    <servlet-class>com.sports.servlet.StuLookScoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StuReserveServlet</servlet-name>
    <servlet-class>com.sports.servlet.StuReserveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StuCancleReserveServlet</servlet-name>
    <servlet-class>com.sports.servlet.StuCancleReserveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LookNoticeServlet</servlet-name>
    <servlet-class>com.sports.servlet.LookNoticeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeaLookTestClassServlet</servlet-name>
    <servlet-class>com.sports.servlet.TeaLookTestClassServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeaLookTestStudentServlet</servlet-name>
    <servlet-class>com.sports.servlet.TeaLookTestStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeaLookSingleStudentServlet</servlet-name>
    <servlet-class>com.sports.servlet.TeaLookSingleStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeaChangeScoreServlet</servlet-name>
    <servlet-class>com.sports.servlet.TeaChangeScoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MtestScoreServlet</servlet-name>
    <servlet-class>com.sports.servlet.MtestScoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Uploader</servlet-name>
    <servlet-class>com.sports.servlet.Uploader</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MdepartmentServlet</servlet-name>
    <url-pattern>/MdepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MtestTermServlet</servlet-name>
    <url-pattern>/MtestTermServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MtestClassServlet</servlet-name>
    <url-pattern>/MtestClassServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MnoticeServlet</servlet-name>
    <url-pattern>/MnoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Captcha</servlet-name>
    <url-pattern>/Captcha</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MteacherServlet</servlet-name>
    <url-pattern>/MteacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MstudentServlet</servlet-name>
    <url-pattern>/MstudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MmajorClassServlet</servlet-name>
    <url-pattern>/MmajorClassServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PwdChangeServlet</servlet-name>
    <url-pattern>/StuPwdChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StuEnterTestClassServlet</servlet-name>
    <url-pattern>/StuEnterTestClassServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StuLookScoreServlet</servlet-name>
    <url-pattern>/StuLookScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StuReserveServlet</servlet-name>
    <url-pattern>/StuReserveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StuCancleReserveServlet</servlet-name>
    <url-pattern>/StuCancleReserveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LookNoticeServlet</servlet-name>
    <url-pattern>/LookNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeaLookTestClassServlet</servlet-name>
    <url-pattern>/TeaLookTestClassServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeaLookTestStudentServlet</servlet-name>
    <url-pattern>/TeaLookTestStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeaLookSingleStudentServlet</servlet-name>
    <url-pattern>/TeaLookSingleStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeaChangeScoreServlet</servlet-name>
    <url-pattern>/TeaChangeScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MtestScoreServlet</servlet-name>
    <url-pattern>/MtestScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Uploader</servlet-name>
    <url-pattern>/Uploader</url-pattern>
  </servlet-mapping>
</web-app>